@charset "UTF-8";

*{
	box-sizing:border-box;
}

body {
	width: 100%;
	margin: 0 auto; /*中央に配置*/
	margin: 0;
	padding: 0;

	border: 1px solid #000000;

	font-size: 16px;
	line-height: 1.6;
	color: #333; 
	background-color:#fff;
	font-family:  YuGothic,'Yu Gothic', Osaka, sans-serif, Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
}
main{
	
	margin: 0 auto;
	width:1400px;
	border: 5px dashed #A54974;/*紫の破線*/
	}



/*=========メインイメージ＝＝＝＝＝＝＝*/	

.main-image {
	background-image: url(../images/cover_image.png);
	background-size: cover;
	background-repeat: none;
	background-position: center;
	height: 650px;
	width: 100%;
	

}

.main-image h1{
	padding-top: 155px;
	width: 820px;
	margin:0 auto;
}

.main-image h2{
	padding-top: 60px;
	width: 475px;
	margin:0 auto;
}
/*==============
==========メインイメージここまで＝＝＝＝＝＝＝＝＝*/

.contents-wrapper{
	max-width:1300px;
	margin: 0 auto;

	border: 1px solid #7a49a5; 
}

.navi{
	display: flex;
	justify-content:space-around;
	text-align: center;
	padding-top: 40px;
	height: 160px;

	border: 1px solid #000000; /*黒線*/
}

.text p{
	margin-bottom: 0;
	font-size: 15px;
	color:#8f794a;
	font-weight: bold;
	letter-spacing: 0.2em;
}

.name_1 p{
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 25px;
	color:#8f794a;
	font-weight: bold;
	letter-spacing: 0.2em;
}
.name p{
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 25px;
	color:#000000;
	font-weight: bold;
	letter-spacing: 0.2em;
}

/*========naviここまで==========*/

.info{
	display: flex;
	justify-content:space-between;	
}
.info img{
	height: 25%;
	width:25%;

	border: 1px solid #000000; /*黒線*/
}
.info p{
	padding-top: 40px;
	text-align: center;
	font-size:14px;
	font-weight: bold;
}
/*========infoここまで==========*/

/*--ここから車折神社セクション=================-
====メインイメージ+タイトル=================*/
.kurumazaki,.kiyomizu{
	text-align: center;	
	position: relative;
	margin:0 auto;
}
.kuruma_image,.kiyomizu_image{
	padding-top: 10px;	
	border: 1px solid #000000; /*黒線*/
}
.kuruma_image img,.kiyomizu_image img{
	max-width: 100%;
}

/*--横ならび==================-
=====================*/
.out-line{
	display: block;
	margin:0 auto;
	width:90%;
	/*お守りと大吉画像を神社に200pxかぶせる*/
	position: relative; 
	bottom: 200px; 

	border: 3px dashed #000000; /*黒線*/
	
}
.kuruma_info,.kiyomizu_info{
	/*お守りと大吉画像を横並びにする*/
	display: flex;
	justify-content:space-between;
	
}
.left img,.right img,{
	width:95%;
	height: 95%;

	border: 1px solid #000000; /*黒線*/
}


.out-line_kiyomizu{
	display: block;
	margin:0 auto;
	width:90%;
	/*清水寺はメイン画像と150pxかぶせる*/
	position: relative; 
	bottom: 150px; /

	border: 3px dashed #000000; /*黒線*/
}
/*===清水寺の恋占いを下げる=====*/
.kiyomizu_left img{
	padding-top: 100px;
}

.star{
	position: relative;
	top: 100px;	
	right: 100px;
	margin-right:-100px;
	
}
.star_2{
	position: relative;
	top: 190px;	
	left: 140px;
}
.title{
	position: relative;
	bottom:500px;
}
.title h1{
	margin-top: 0;
	margin-bottom: 0;
	font-weight: bold;
	font-size: 80px;
}
.title p{
	margin-bottom: 0;
	font-weight: bold;
	font-size: 20px;
}
.kiyomizu_text p{
	color:#585758;
	font-size:14px;
}


/*=========ここから写真コーナー-=======*/
.photo{
	display: flex;
	justify-content:space-around;
	position: relative;
	bottom:400px;
	width:100%;
}
.photo1,.photo3,.photo5,.photo7{
	width:242px;
	height: 245px;

	border: 1px solid #000000; /*黒線*/
}

.photo2 img,.photo4 img,.photo6 img{
	padding-top: 75px;
}

a.model_corse{
	width:346px;
	height: 37px;
	border: 2px solid #000000;
	color:#000000;
	font-size:17px;
	font-weight: bold;

	text-decoration: none;

	border-bottom: solid 8px #000000;


	padding:10px 50px;
	border-radius: 10px;

	position: relative;
	bottom:250px;
}

.model_corse:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

fotter{
color:#000000;
}




